body {
	text-align: center;
	margin: 0 auto;
	font-family: sans-serif;
	font-size: 20px;
	margin: 60px 20px 20px 20px;
	height: 100%;
}

button {
	padding: 15px 60px;
	border-radius: 12px;
	font-size: 20px;
	color: white;
	background-color: #62e7b2;
	border-width: 0px;
	cursor: pointer;
	display: block;
	text-align: center;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

button:hover {
	background-color: #2dc086;
}

button:active {
	/* transform taken from w3schools */
	transform: translateY(2px);
}

button:focus {
	outline: 0;
}

h1 {
	font-size: 40px;
}

#main-container {
	height: 100%;
	max-width: 500px;
	text-align: center;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

#button-container {
	margin-top: 40px;
}
